.company-img {
    height: 100px;
    width: 100px;
    margin-right: 30px;
}

.exp-header {
    display: flex;
    align-items: center;
}

.job-title {
    margin: 0;
    padding-right: 5px;
    padding-bottom: 5px;
}

.date-range {
    margin: 0;
    font-size: 15px;
    padding-top: 1px;
    color: #A0A0A0;
    font-weight: bold;
}

.company-title {
    font-size: 18px;
    padding-bottom: 1px;
}

.location {
    margin: 0;
    font-size: 15px;
    color: #A0A0A0;
    font-weight: bold;
}

.company-title {
    margin: 0;
}

.exp-container {
    margin-bottom: 30px;
}

.exp-accomplishments {
    margin-top: 10px;
    color: #A0A0A0;
}


.appear {
    opacity: 1;
    animation: fadeIn 0.2s linear;
}

@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}


.collapse-exp {
    display: none;
}


.show-more-btn {
    color: white;
    background-color: #A0A0A0;
    border: 1px solid grey;
    padding: 4px 8px;
    min-width: 120px;
}

.show-more-btn:hover {
    background-color: gray;
}

