#profile-pic {
    border-radius: 50%;
    width: 175px;
    height: 175px;
    object-fit: cover;
    display: block;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-container {
    padding-left: 80px;
}

.title { 
    color: #718096;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.name {
    font-size: 3rem;
    margin: 0;
    margin-left: -4px;
}

.icons {
    padding-top: 10px;
    color: #718096;
}

.icon {
    margin-right: 4px;
    text-decoration: none;
    color: #718096;
}

.icon:hover {
    color: black;
}
